.header {
  height: 1em;
  background-image: url("../imgs/fondo.jpg");
  background-size: cover;
  background-position: center;
}

.header h1 {
  margin: 0px;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    _ 31 "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.header {
  height: 10em;
  padding: 5em;
  font-size: 2em;
  background-image: url("../imgs/fondo.jpg");
  background-size: cover;
  background-position: center;
}
.header h1 {
  margin: -46px;
  font-weight: 400;
}

.products {
  width: 80%;
  margin: auto;
}
.products td {
  width: 50%;
  padding: 2em;
}
.products img {
  width: 100%;
  border: solid 1px #ddd;
}

.footer {
  height: 3em;
  line-height: 3em;
  background-color: rgb(224, 164, 73);
  color: rgb(10, 2, 2);
  text-align: center;
  font-weight: 900;
}
